<section fxLayout fxLayoutAlign="center">
  <form #f="ngForm" (ngSubmit)="onStartTraining(f)">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">Time to start workout</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!(isLoading$ | async) && exercises$ | async">
          <mat-select placeholder="Choose exercise" ngModel name="exercise" required>
            <mat-option *ngFor="let exercise of exercises$ | async" [value]="exercise.id">
              {{exercise.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button mat-button [disabled]="f.invalid">Start</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>