<mat-nav-list *ngIf="!(isAuth$ | async)">
    <a mat-list-item routerLink="/signup" (click)="closeSideNav()">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Sign Up</span>
    </a>
</mat-nav-list>
<mat-nav-list *ngIf="!(isAuth$ | async)">
    <a mat-list-item routerLink="/login" (click)="closeSideNav()">
        <mat-icon>input</mat-icon>
        <span class="nav-caption">Login</span>
    </a>
</mat-nav-list>
<mat-nav-list *ngIf="(isAuth$ | async)">
    <a mat-list-item routerLink="/training" (click)="closeSideNav()">
        <mat-icon>fitness_center</mat-icon>
        <span class="nav-caption">Fitness</span>
    </a>
    <mat-list-item>
        <button mat-icon-button (click)="onLogout()">
            <mat-icon>eject</mat-icon>
            <span class="nav-caption">Logout</span>
        </button>
    </mat-list-item>
</mat-nav-list>
